<div class="container">
  <form class="form-signup">
    <h2 class="form-signup-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputCPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputCPassword" class="form-control" placeholder="Confirm Password" required>
    <label for="mobileNo" class="sr-only">Mobile no.</label>
    <input type="number" id="mobileNo" class="form-control" placeholder="Mobile no" required autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <button class="btn btn-lg btn-primary btn-block" (click)="goHome()">Back</button>
    <a routerLink="resetpassword" class="btn-default">Reset Password</a>
  </form>
</div> <!-- /container -->

