<footer *ngIf="isLogon || async">
  <br>
  <div class="container">
    <a class="logo-font" routerLink="/">Book Worm</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      NUS ISS StackUp .
      Source Code licensed under MIT.
    </span>
  </div>
</footer>